table.host_name td:first-child {
  text-align: right;
}

tr.even,
tr.odd {
  background-color: white;
}
tr.contacted,
td.contacted {
  /* Dark yellow. */
  border-top: 2px solid #ffcf73;
  background-color: #ffcf73;
}
tr.scheduled,
td.scheduled {
  /* Yellow. */
  border-top: 2px solid #ffcf73;
  background-color: #ffffdd;
}
td.wcag-unknown {
  /* Orange. */
  border-top: 2px solid #ff7f00;
  background-color: #ffefd5;
}
td.wcag-1,
tr.migrating,
td.migrating {
  /* Light green. */
  border-top: 2px solid #bcffb3;
  background-color: #f1ffe8;
}
td.wcag-0,
tr.not,
td.not {
  /* Red. */
  border-top: 2px solid #ffdccd;
  background-color: #ffece8;
}
td.wcag-2,
td.wcag-3,
tr.dns-redirect,
td.dns-redirect,
tr.done,
td.done,
tr.redirect,
td.redirect {
  /* Green. */
  border-top: 2px solid #a8ff98;
  background-color: #d7ffd8;
}
tr.culled,
td.culled {
  /* Dark grey. */
  border-top: 2px solid #888;
  background-color: #aaa;
}
tr.hold,
td.hold {
  /* Purple. */
  border-top: 2px solid #b5c4fe;
  background-color: #eff1fe;
}
